// блок с данными кота

.cat {
  padding: 0;
  margin: 0;
  margin-bottom: 17px;

  border: none;
  border-bottom: 1px solid @lines-color;
}

.cat__wrapper {
  width: 280px;
  margin: 0 auto 23px auto;
}

.cat__input {
  flex-grow: 1;
  margin: 0;
  padding: 10px 15px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;
  border-image: none;
  border: 1px solid @lines-color;
}

.cat__item-wrapper:first-child::before,
.cat__item-wrapper:nth-child(2)::before,
.cat__item-wrapper:last-child::before {
  position: relative;
  top: 12px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.cat__item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  &:first-child::before {
    content: "Имя:*";
    width: 50px;
    height: 45px;
  }

  &:nth-child(2)::before {
    content: "Вес (кг):*";
    width: 76px;
    height: 45px;
  }

  &:last-child::before {
    content: "Возраст (лет):";
    width: 108px;
    height: 45px;
  }
}
