/* блок подбора программы */
.choice {
  padding-top: 30px; // временно

  background: url("../../img/index-can-mobile.png") no-repeat 15px 168px,
    url("../../img/index-background-mobile.png") no-repeat;
}

.choice__wrapper {
  margin: 0 auto 20px;
  width: 280px;
}

.choice__title {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  width: 280px;
  text-align: center;

  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  color: white;
}

.choice__slogan {
  display: block;
  margin: 0 auto;
  margin-bottom: 305px;
  width: 240px;
  text-align: center;

  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  color: white;
  text-transform: uppercase;
}
