// блок комментариев

.comment {
  padding: 0;

  border: none;
}

.comment__wrapper {
  width: 280px;
  margin: 0 auto;
}

.comment__title {
  position: relative;
  margin: 0 0 30px 20px;

  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 154px;
    height: 3px;
    left: 145px;
    top: 13px;

    background-color: @buttons-color;
  }
}

.comment__text {
  padding: 12px 15px 0 15px;
  max-height: 120px;
  max-width: 251px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
