// блок копирайт

.copyright {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}

.copyright__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: @copyright-color;
}

.copyright__img {
  margin-top: -9px;
}
