// выбор курса

.course {
  padding: 0;
  width: 320px;

  border: none;
  border-bottom: 1px solid @lines-color;
}

.course__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 10px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.course__label {
  display: flex;
  position: relative;
  padding-left: 20px;
  margin: 0 0 12px 0;

  cursor: pointer;

  &::before {
    content: "";
    position: relative;
    width: 28px;
    height: 28px;
    top: -7px;
    left: -20px;

    border: 1px solid @lines-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    width: 13px;
    height: 13px;
    left: 9px;
    top: 1.5px;

    border-radius: 50%;
    background-color: @buttons-color;
  }
}

.course__label--active::after {
  display: block;
}
