// карточки товаров

.feed__item {
  width: 320px;
  padding-bottom: 25px;

  border-bottom: 1px solid @lines-color;
}

.feed__item:first-child {
  border-top: 1px solid @lines-color;
}

.feed__link {
  display: flex;

  text-decoration: none;
  color: black;
}

.feed__link-wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.feed__item-title {
  width: 75px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  text-transform: uppercase;

  &--additionally {
    width: 105px;
    margin: 13px 0 10px 0;
  }
}

.feed__item-title--else {
  width: 205px;
  margin: 0 auto 10px;
}

.feed__else-text {
  display: block;
  width: 225px;
  margin: 0 auto 20px;

  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
}

.feed__else-link {
  display: block;
  width: 30px;
  height: 30px;
  margin: 30px auto;

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    top: 15px;

    background-color: @lines-color;
  }
}

.feed__else-link::before {
  transform: rotate(90deg);
}
