// Контактные данные (владельца кота)

.owner {
  width: 320px;
  padding: 0;

  border: none;
}

.owner__wrapper {
  width: 280px;
  margin: 0 auto;
}

.owner__title {
  position: relative;

  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 97px;
    height: 3px;
    left: 202px;
    top: 13px;

    background-color: @buttons-color;
  }
}

.owner__legend {
  width: 200px;
  margin-left: 20px;
}

.owner__label {
  margin-right: 8px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.owner__input {
  flex-grow: 1;
  padding: 10px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.owner__item-wrapper {
  display: flex;
  align-items: baseline;
}

.owner__item-wrapper:first-child {
  margin-bottom: 15px;
}
