/* Хедер */

.page-header__wrapper {
  border-bottom: 1px solid @lines-color;
}

.page-header__subwrapper {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}

.page-header__logo {
  padding: 11.5px 0;
  text-decoration: none;
}

.page-header__logo-img {
  vertical-align: middle;
}

.page-header__logo-img--name {
  margin-left: 52px;
}

.page-header__toggle {
  height: 20px;

  align-self: center;
}
