// каталог продукции

.prodacts {
  width: 320px;
  margin: 0 auto;
}

.prodacts__title {
  margin: 19px 0 28px  20px;

  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.prodacts__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
