// подбор программы

.selection {
  margin-top: 20px;
}

.selection__owner {
  margin-bottom: 25px;
}

.selection__comment {
  margin-bottom: 20px;
}

.selection__wrapper {
  width: 320px;
  margin: 0 auto;
}

.selection__foot-wrapper {
  width: 280px;
  margin: 0 auto;
}

.selection__submit {
  width: 100%;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: white;

  border: none;
  cursor: pointer;
}

.selection__footnote {
  text-align: center;
  margin: 20px 0 30px 0;
}

.selection__head-wrapper {
  width: 280px;
}

.selection__title {
  margin: 0 auto 30px 20px;

  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.selection__caption {
  display: block;
  width: 230px;
  margin: 0 auto 40px 20px;

  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;
}

.selection__course {
  margin: 0 0 5px 0;
}
