// слайдер

.slider__list {
  margin: 0 0 30px;
  padding: 0;

  list-style: none;
}

.slider__switch-wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.slider__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  text-transform: uppercase;
  background-color: @gray-bg;
  border: none;
}

.slider__range-label {
  display: inline-block;
  width: 85px;
  height: 12px;
  margin: 0 10px;

  border: 1.5px solid @lines-color;
  border-radius: 7px;
}

.slider__range-inner {
  display: block;
  width: 40px;
  height: 8px;
  margin: 2px 0 0 3px;

  background-color: @buttons-color;
  border-radius: 4px;
}
